{% extends 'base.html' %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block content %}
    <form id="myform" action="" method="post" novalidate>
    <table>
        {{ form|crispy }}
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
    {% csrf_token %}
    </form>
    <script>

    {% get_current_language as LANGUAGE_CODE %}

    var lang="{{ LANGUAGE_CODE }}";

    $("#myform").submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        var t_and_c = $('#myform').find('input[name ="t_and_c"]').is(":checked");
        if (t_and_c) {
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                error: function() {    
                    alert("Check mandatory fields");
                },
                success: function(data) {
                    if (data != '{"status": "ok"}') {
                        var el = document.createElement('html');
                        el.innerHTML = data;
                        var body = el.getElementsByTagName('body');
                        $('body').replaceWith(body);
                    } else {

                        if (lang == "fr") {
                            $("#myform").replaceWith("<p>Votre demande a été enregistrée</p>");
                        } else {
                            $("#myform").replaceWith("<p>Your registration has been saved</p>");
                        }
                    }
                }
            });
        } else {
            if (lang == "fr") {
                alert("Vous devez accepter les termes et conditions");
            } else {
                alert("You neeed to accept the terms and conditions");
            }
        }
    });
    </script>
{% endblock content %}
